/* .heading{
    color: aqua;
}
.b1{
    color: aquamarine;
    background-color: brown;
}
.b2{
    color: violet;
    background-color:aqua;
}
.b3{
    color: bisque;
    background-color: blueviolet;
}
.b4{
    color: green;
    background-color: gray;
} */
button{
    background-color: green;
}
.heading{
    color: red;
}
#idtag{
    background-color: rgb(144, 144, 223);
}