.div1{
    text-align: center;
}

.heading{
        color: blue;
        background-color: gray;
        padding: 10px;
        
    }
    .para{
        color: red;
        background-color:bisque;
    }
    .button{
        border: none;
        background-color: aqua;
        font-family: sans-serif;
        font-style:italic;
        
        border-radius: 10px;
        
        
    }
